* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}
li {
	list-style: none;
}
/* COMMENT root */
:root {
	--header-ml: 55px;
	--header-mt: 40px;
	--main-bg: url("../img/home/background-home-desktop.jpg");
	--destination-bg: url("../img/destination/background-destination-desktop.jpg");
	--white: #fff;
	--f-16px: 16px;
	--explore-size: 274px;
	--active-explore-size: 450px;
}
@media (max-width: 1024px) {
	:root {
		--header-ml: 39px;
		--header-mt: 0;
		--main-bg: url("../img/home/background-home-tablet.jpg");
		--destination-bg: url("../img/destination/background-destination-tablet.jpg");
		--explore-size: 242px;
	}
}
@media (max-width: 700px) {
	:root {
		--header-ml: 24px;
		--header-mt: 24px;
		--main-bg: url("../img/home/background-home-mobile.jpg");
		--destination-bg: url("../img/destination/background-destination-mobile.jpg");
		--explore-size: 150px;
	}
}
/* COMMENT general classes */
.d-flex {
	display: flex;
}
.d-block {
	display: block;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-center {
	justify-content: center;
}
.align-items-center {
	align-items: center;
}
.f-wrap {
	flex-wrap: wrap;
}
.w-100 {
	width: 100%;
}
.w-50 {
	width: 50%;
}

.container {
	max-width: calc(100% - var(--header-ml));
	margin-left: var(--header-ml);
}
.content-container {
	width: 80%;
	padding: 0 20px;
	margin: 0 auto;
}
.p-relative {
	position: relative;
}
.p-absolute {
	position: absolute;
}

/* COMMENT header */
main {
	background-image: var(--main-bg);
}
.bg-style {
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.burger {
	display: none;
}
header {
	padding-top: var(--header-mt);
	position: relative;
	z-index: 100;
}
header .logo {
	width: 48px;
	height: 48px;
}
header nav::after {
	content: "";
	width: 55%;
	position: absolute;
	top: 50%;
	left: -50%;
	height: 1px;
	background-color: var(--white);
	opacity: 0.25;
}
header nav {
	padding: 39px 138px 36px 120px;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(30px);
	position: relative;
}
header nav ul {
	gap: 35px;
}

header nav a {
	color: var(--white);
	font-size: var(--f-16px);
}

header nav .router-link-active {
	position: relative;
}
header nav .router-link-active::after {
	content: "";
	width: 90%;
	height: 3px;
	background-color: var(--white);
	display: block;
	position: absolute;
	bottom: -36px;
}
@media (max-width: 1024px) {
	header nav::after {
		display: none;
	}
	header nav {
		padding: 39px 48px;
	}
}
@media (max-width: 700px) {
	header nav {
		display: none;
	}
	.burger {
		display: block;
	}
	.container {
		max-width: calc(100% - 2 * var(--header-ml));
		margin: auto;
	}
	.logo {
		width: 40px;
		height: 40px;
	}
}

/* COMMENT main section index */
.main-section {
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
}
.explore {
	width: var(--explore-size);
	height: var(--explore-size);
	border-radius: 50%;
	background-color: var(--white);
	cursor: pointer;
}
@media (min-width: 1024px) {
	.explore:hover {
		box-shadow: 0 0 0 100px rgba(255, 255, 255, 0.1);
	}
}
.space span {
	color: #d0d6f9;
	font-size: clamp(16px, 2.4vw, 28px);
}
.space h1 {
	font-size: clamp(80px, 2.8vw, 150px);
	color: var(--white);
}
.space p {
	color: #d0d6f9;
	font-size: clamp(15px, 2.4vw, 18px);
}

@media (max-width: 1024px) {
	.main-section {
		flex-direction: column;
		align-items: center;
		bottom: 90px;
	}
	.main-section .space {
		width: 50%;
		text-align: center;
	}
	.explore {
		margin-top: 100px;
	}
}
@media (max-width: 700px) {
	.main-section {
		bottom: 48px;
	}
	.main-section .space {
		width: 90%;
	}
	.explore {
		margin-top: 85px;
	}
}
.destination-section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 200px;
	background-image: var(--destination-bg);
}
.destination-content {
	width: 80%;
	margin: 0 auto;
}
.destination-content h2 {
	font-size: clamp(16px, 2.4vw, 28px);
	margin-bottom: 62px;
	color: var(--white);
	text-transform: uppercase;
}
.destination-content h2 span {
	opacity: 0.25;
}
.dest-img {
	max-width: 445px;
}
.dest-desc {
	color: var(--white);
}
.dest-desc ul {
	margin-bottom: 40px;
}
.dest-desc li {
	font-size: clamp(14px, 0.24vw, 16px);
	margin-right: 22px;
	text-transform: capitalize;
	position: relative;
}
.dest-desc li:last-child {
	margin-right: 0;
}
.dest-desc li.active::after {
	content: "";
	width: 80%;
	height: 3px;
	position: absolute;
	bottom: -10px;
	background-color: var(--white);
	left: 0;
}
.dest-desc h3 {
	font-size: clamp(56px, 2.4vw, 100px);
	text-transform: capitalize;
}
.dest-desc p {
	font-size: clamp(15px, 2.4vw, 18px);
	color: #d0d6f9;
	padding-bottom: 62px;
	border-bottom: 0.5px solid #383b4b;
	margin-bottom: 30px;
}
.dest-stat div:first-child {
	margin-right: 76px;
}
.dest-stat div span {
	text-transform: uppercase;
}
.dest-stat div span:first-child {
	color: #d0d6f9;
	font-size: 14px;
	margin-bottom: 10px;
}
.dest-stat div span:nth-child(2) {
	color: #ffffff;
	font-size: 28px;
}
@media (max-width: 1024px) {
	.destination-section {
		padding-top: 135px;
	}
	.select-dest {
		justify-content: center;
	}
	.dest-desc {
		width: 100%;
		text-align: center;
	}
	.dest-desc ul,
	.dest-stat {
		justify-content: center;
	}
	.dest-img {
		max-width: 300px;
		margin-bottom: 50px;
	}
	.dest-desc p {
		padding-bottom: 70px;
	}
}
@media (max-width: 700px) {
	.destination-section {
		padding-top: 88px;
	}
	.destination-content h2 {
		margin-bottom: 30px;
	}
	.dest-img {
		max-width: 170px;
		margin-bottom: 20px;
	}
	.dest-desc p {
		padding-bottom: 30px;
		margin-bottom: 10px;
	}
	.dest-desc ul {
		margin-bottom: 10px;
	}
	.dest-stat {
		flex-direction: column;
	}
	.dest-stat div:first-child {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.dest-desc li {
		margin-right: 10px;
	}
	.dest-desc li.active::after {
		bottom: -5px;
	}
}
